body{
    background-color: black;
    color: white;


}
.main-headline{
    text-align: center;

}
#welcome{
    text-align: center;
    align-content: center;
}
#welcome>img{
    width: 400px;
}

#facts-section>h2{
    text-decoration: underline;
}

#quotes-section>h2{
    text-decoration: underline;
}

#links-section>h2{
    text-decoration: underline;
}
blockquote{
    font-style: italic;
}