body{
    background-image: 
     url(https://pbs.twimg.com/media/FmTP69TWYAYpvLg?format=jpg&name=4096x4096);
    color: #5cd651 ;

}
header{
    text-align: center;
}

#main-headline{
    font-size: 100px;
}

#quiz{
    font-size: 50px;
}

#martin{
    text-align: left;
}

#rudy{
    text-align: right;
    height: 150px;
    width: 100px;
}

