* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}
body > aside {
  position: fixed;
  border-right: 1px solid rgba(0, 173, 238, 0.4);
  height: 100vh;
  width: 200px;
}

  
body > aside > img {
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 4%;

}

body > main {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
 li {
   text-align: center;
   text-transform: uppercase;
   border-bottom: solid  rgba(0, 173, 238, 0.4);
   color:#00ADEE;
   font-weight: bold;
   text-decoration: none;
   width: 90%;
   margin: auto;
   list-style: none;
   padding: 10px;

   
 }

 body>main>header>img{
   height: 100px;
   padding-bottom: 15px;
 }


 #placeholder {
   width: 100vw;
 }

 section>div{
   width: 33%;
   display: inline-block;
 }

 section>div>h2{
   color:#8CC36F;
 }

 section>div>h2>i{
   padding: 5px;
 }